body {
    padding: 0;
    margin: 0;
} 

#topo li a {
    float: left;    
    margin-right: 15px;
    display: inline;
    text-decoration: none;
}

ul {
    float: unset;
    list-style-type: none;
}